<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>

<h2>Cars list</h2>
<p>Step1: Create engine</p>
<p>Step2: Add this engine in new car or use in edit </p>
<table border="1">
    <tr>
        <td>
<table border="1">

    <tr>
    <th>id</th>
    <th>Manufactured</th>
    <th>Model</th>
    <th>Engine</th>
    <th>Wheel</th>
    <th>Gear</th>
        <th>Action</th>
</tr>
    <tr th:each ="car : ${cars}">
    <td th:utext="${car.id}">...</td>
    <td th:utext="${car.manufacturedName}">...</td>
    <td th:utext="${car.modelName}">...</td>
    <td th:utext="${car.engine}">...</td>
    <td th:utext="${car.wheel}">...</td>
    <td th:utext="${car.gear}">...</td>
        <td>

            <a th:href="@{/edit/{id}(id=${car.id})}">edit</a>
            <a th:href="@{/delete/{id}(id=${car.id})}">delete</a>
        </td>




</table>
            <p><a href="create">Make new car</a></p>
        </td>
    </tr>


    <tr>
        <td>
            <h3>Engines list</h3>
<table border="1">

    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    <tr th:each ="engine : ${engines}">
        <td th:utext="${engine.id}">...</td>
        <td th:utext="${engine.name}">...</td>
        <td th:utext="${engine.engineType}">...</td>

        <td>

            <a th:href="@{/edit/engine/{id}(id=${engine.id})}">edit</a>
            <a th:href="@{/delete/engine/{id}(id=${engine.id})}">delete</a>
        </td>
    </tr>
</table>
<p><a href="createEngine">Make new engine</a></p>
        </td>
    </tr>
</table>
<p></h2><a href="/"><h2>REFRESH</h2></a></p>
</body>
</html>